body {
    background: #edeef0;
}

.get-whether {
    margin-bottom: 30px;
}

.whether {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    display: none;
    width: 500px;
    padding: 20px;
}

.whether.active {
    display: block;
}