.form__elem {
    position: relative;
}

.close {
    position: absolute;
    top: 0;
}

.form__elem {
    display: inline-block;
}

.form__elem .close {
    display: none;
}

.form__elem .visible {
    display: block;
}

.form__elem.left .close {
    left: 0;
}

.form__elem.right .close {
    right: 0;
}

.form__elem.left input {
    padding-left: 30px;
}
